# Python caches
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
ENV/

# System / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Flask/App files
instance/
temp_uploads/
